    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

    @font-face {
        font-family: 'Kamikaze';
        src: url('./media/Kamikaze.ttf');
    }

    @font-face {
        font-family: 'Kamikaze3DGradient';
        src: url('./media/Kamikaze3DGradient.ttf');
    }

    /* General styles */
    * {
        margin: 0;
        padding: 0;
        font-family: 'VT323', monospace;
        box-sizing: border-box;
    }

    body {
        font-family: 'VT323', monospace;
        background: #d9d9db;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        position: relative;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        height: 100vh;
        margin: 0;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: var(--bg-color);
        color: var(--text-color);
        height: 100%;
    }

    .about-us h1 {
        font-family: 'Kamikaze', sans-serif;
        font-size: 4rem;
        margin-bottom: 20px;
    }

    .about-us p {
        font-size: var(--p-font);
        font-family: 'VT323', italic;
        line-height: 1.6;
        font-size: 1rem;
        margin-bottom: 15px;
        height: auto;
    }

    model-viewer {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

    /* Open button */
    .trigger {
        background: #000000;
        outline: 0;
        padding: 8px 15px;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 2rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
        transition: 0.15s ease-in-out;
        cursor: pointer;
        margin-bottom: 2rem;
    }

    .trigger:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    /* Nav position and opening class */
    .full-screen-nav {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.2s ease-in-out;
        display: none;
    }

    .open-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Logo content container */
    .logo-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo h1 {
        font-family: 'Kamikaze3DGradient', fallback;
        font-size: 7rem;
        text-transform: uppercase;
        color: #ffffff;
        background: linear-gradient(to right, #0c0c0c, #242428);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        word-break: break-word;
        margin: 0;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .button-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer p{
        font-size: 1rem;
    }

    .footer-main p{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: #ffffff;
        padding: 0.2rem;
    }

    /* Backdrop position and animation */
    .backdrop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.92);
        cursor: pointer;
        animation: fadeIn 0.8s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* List item styling & animation */
    ul {
        z-index: 9999;
        position: relative;
        padding: 1rem;
        font-size: 1rem;
    }

    ul li {
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
        animation: 1s ease-in-out animateList forwards;
    }

    ul li:last-child {
        margin-bottom: 0;
    }

    @keyframes animateList {
        from {
            margin-top: -60px;
            opacity: 0;
        }
        to {
            margin-top: 0;
            opacity: 1;
        }
    }

    /* Item links styles and hover effect */
    ul li a {
        text-decoration: none;
        color: #ccc;
        font-size: 2em;
        font-weight: 900;
    }

    ul li a:hover,
    ul li a i {
        color: #ffffff;
    }

    /* Responsive design */

    .goback {
        background-color: #1f1f1f;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        padding: 10px 20px;
        font-size: 14px;
        height: 100%;
    }

    .goback:hover {
        background-color: #000000;
    }

    .goback {
        position: relative;
        bottom: 0;
        right: 0;
        background-color: #1f1f1f;
        text-align: center;
        text-decoration: none;
        height: 100%;
    }

    @media (min-width: 600px) {
        .testimonials-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 900px) {
        .testimonials-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .testimonials-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .testimonial-card img {
        margin-top: 10px;
        width: 60vh;
        height: auto;
    }

    .testimonial-card p {
        font-size: 2rem;
        text-align: center;
        padding: 20px;
        height: 100%;
    }

    .testimonial-card {
        transition: transform 1s;
    }

    .quote{
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .contact-container {
        margin:  auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-container h1 {
        color: #000000;
        font-size: 7rem;
    }

    .contact-container p {
        color: #7e7e7e;
        font-size: 1rem;
    }

    .contact-card {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-card ul {
        list-style-type: none;
        padding: 0;
    }

    .contact-card ul li {
        color: #333;
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .map-container {
        margin-top: 20px;
    }
